Repository whoneykkk/shhtudy, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, docs

.github/labeler.yml:

# .github/labeler.yml

frontend:
  - frontend/**

backend:
  - backend/**

docs:
  - docs/**
  - README.md

refactor(alert): 헤더 알림 개선
  backend/src/main/java/com/shhtudy/backend/domain/alert/AlertController.java
  backend/src/main/java/com/shhtudy/backend/domain/alert/AlertService.java
  backend/src/main/java/com/shhtudy/backend/domain/alert/AlertStatusResponseDto.java
  backend/src/main/java/com/shhtudy/backend/domain/message/repository/MessageRepository.java
Labels: backend

chore: 파일 구조 수정
  backend/src/main/java/com/shhtudy/backend/domain/alert/controller/AlertController.java
  backend/src/main/java/com/shhtudy/backend/domain/alert/dto/AlertStatusResponseDto.java
  backend/src/main/java/com/shhtudy/backend/domain/alert/service/AlertService.java
Labels: backend

feat(noise): 노이즈 서비스 설정 및 기본 구조 세팅
  backend/src/main/java/com/shhtudy/backend/domain/noise/controller/NoiseController.java
  backend/src/main/java/com/shhtudy/backend/domain/noise/entity/Noise.java
  backend/src/main/java/com/shhtudy/backend/domain/noise/repository/NoiseRepository.java
  backend/src/main/java/com/shhtudy/backend/domain/noise/service/NoiseService.java
Labels: backend

feat(noise): 초기 세팅(#44)
  backend/src/main/java/com/shhtudy/backend/domain/noise/controller/NoiseController.java
Labels: backend

feat(noise): 초기 세팅(#44)
  backend/build.gradle
  backend/src/main/java/com/shhtudy/backend/domain/alert/controller/AlertController.java
  backend/src/main/java/com/shhtudy/backend/domain/auth/controller/AuthController.java
  backend/src/main/java/com/shhtudy/backend/domain/dashboard/controller/DashboardController.java
  backend/src/main/java/com/shhtudy/backend/domain/dashboard/dto/DashboardResponseDto.java
  backend/src/main/java/com/shhtudy/backend/domain/dashboard/service/DashboardService.java
  backend/src/main/java/com/shhtudy/backend/domain/message/controller/MessageController.java
  backend/src/main/java/com/shhtudy/backend/domain/noise/config/WebConfig.java
  backend/src/main/java/com/shhtudy/backend/domain/noise/config/WebSocketConfig.java
  backend/src/main/java/com/shhtudy/backend/domain/noise/controller/NoiseController.java
  backend/src/main/java/com/shhtudy/backend/domain/noise/controller/NoiseWebSocketController.java
  backend/src/main/java/com/shhtudy/backend/domain/noise/dto/NoiseEventDto.java
  backend/src/main/java/com/shhtudy/backend/domain/noise/dto/NoiseEventListDto.java
  backend/src/main/java/com/shhtudy/backend/domain/noise/dto/NoiseEventRequestDto.java
  backend/src/main/java/com/shhtudy/backend/domain/noise/dto/NoiseEventSummaryDto.java
  backend/src/main/java/com/shhtudy/backend/domain/noise/dto/NoiseMessage.java
  backend/src/main/java/com/shhtudy/backend/domain/noise/dto/NoiseReportResponseDto.java
  backend/src/main/java/com/shhtudy/backend/domain/noise/dto/NoiseSessionRequestDto.java
  backend/src/main/java/com/shhtudy/backend/domain/noise/entity/Noise.java
  backend/src/main/java/com/shhtudy/backend/domain/noise/entity/NoiseEvent.java
  backend/src/main/java/com/shhtudy/backend/domain/noise/entity/NoiseSession.java
  backend/src/main/java/com/shhtudy/backend/domain/noise/enums/NoiseStatus.java
  backend/src/main/java/com/shhtudy/backend/domain/noise/repository/NoiseRepository.java
  backend/src/main/java/com/shhtudy/backend/domain/noise/service/NoiseService.java
  backend/src/main/java/com/shhtudy/backend/domain/notice/controller/NoticeController.java
  backend/src/main/java/com/shhtudy/backend/domain/seat/controller/SeatController.java
  backend/src/main/java/com/shhtudy/backend/domain/seat/dto/CheckInRequestDto.java
  backend/src/main/java/com/shhtudy/backend/domain/seat/dto/CheckOutRequestDto.java
  backend/src/main/java/com/shhtudy/backend/domain/user/controller/UserController.java
  backend/src/main/java/com/shhtudy/backend/global/exception/code/ErrorCode.java
Labels: backend

refactor: http 경로 변경
  backend/src/main/java/com/shhtudy/backend/domain/alert/controller/AlertController.java
  backend/src/main/java/com/shhtudy/backend/domain/auth/controller/AuthController.java
  backend/src/main/java/com/shhtudy/backend/domain/message/controller/MessageController.java
  backend/src/main/java/com/shhtudy/backend/domain/notice/controller/NoticeController.java
  backend/src/main/java/com/shhtudy/backend/domain/seat/controller/SeatController.java
  backend/src/main/java/com/shhtudy/backend/domain/user/controller/UserController.java
Labels: backend

feat(common): add BaseEntity and Status enum for common entity structure
  backend/src/main/java/com/shhtudy/backend/domain/common/Status.java
  backend/src/main/java/com/shhtudy/backend/global/config/WebConfig.java
Labels: backend

feat(common): add BaseEntity
  backend/src/main/java/com/shhtudy/backend/domain/common/BaseEntity.java
Labels: backend

feat: Swagger 문서에 인증 설정 및 API 정보(OpenAPI) 추가
  backend/src/main/java/com/shhtudy/backend/global/config/SwaggerConfig.java
Labels: backend

chore: 프로젝트 무시 규칙 정의 (.gitignore 추가)
  backend/.gitignore
Labels: backend

remove: 초기화 및 스케줄 관련 불필요한 클래스 제거
  backend/src/main/java/com/shhtudy/backend/domain/seat/service/TimeSchedulerService.java
  backend/src/main/java/com/shhtudy/backend/global/config/DataInitializer.java
  backend/src/main/java/com/shhtudy/backend/global/config/WebConfig.java
  backend/src/main/resources/application.properties
Labels: backend

WIP: usage check-in 도중 작업
  backend/src/main/java/com/shhtudy/backend/domain/usage/Usage.java
  backend/src/main/java/com/shhtudy/backend/domain/usage/UsageController.java
  backend/src/main/java/com/shhtudy/backend/domain/usage/UsageService.java
  backend/src/main/java/com/shhtudy/backend/domain/usage/UsageStatus.java
  backend/src/main/java/com/shhtudy/backend/domain/usage/dto/CheckInRequest.java
Labels: backend

refactor: 메시지 도메인 전반 리팩토링 및 응답 구조 통일
  backend/src/main/java/com/shhtudy/backend/BackendApplication.java
  backend/src/main/java/com/shhtudy/backend/domain/message/controller/MessageController.java
  backend/src/main/java/com/shhtudy/backend/domain/message/dto/MessageListResponseDto.java
  backend/src/main/java/com/shhtudy/backend/domain/message/dto/MessageResponseDto.java
  backend/src/main/java/com/shhtudy/backend/domain/message/dto/MyPageMessageDto.java
  backend/src/main/java/com/shhtudy/backend/domain/message/entity/Message.java
  backend/src/main/java/com/shhtudy/backend/domain/message/repository/MessageRepository.java
  backend/src/main/java/com/shhtudy/backend/domain/message/service/MessageService.java
  backend/src/main/java/com/shhtudy/backend/global/response/ResponseCustom.java
  backend/src/main/java/com/shhtudy/backend/global/util/UserDisplayUtil.java
Labels: backend

refactor: 코드래빗 제안 적용
  backend/src/main/java/com/shhtudy/backend/domain/message/entity/Message.java
  backend/src/main/java/com/shhtudy/backend/domain/message/service/MessageService.java
Labels: backend

refactor: 공주 도메인 전반 리팩토링 및 응답 구조 통일
  backend/src/main/java/com/shhtudy/backend/domain/notice/controller/NoticeController.java
  backend/src/main/java/com/shhtudy/backend/domain/notice/dto/MyPageNoticeDto.java
  backend/src/main/java/com/shhtudy/backend/domain/notice/dto/NoticeListResponseDto.java
  backend/src/main/java/com/shhtudy/backend/domain/notice/dto/NoticeResponseDto.java
  backend/src/main/java/com/shhtudy/backend/domain/notice/entity/Notice.java
  backend/src/main/java/com/shhtudy/backend/domain/notice/entity/NoticeRead.java
  backend/src/main/java/com/shhtudy/backend/domain/notice/service/NoticeService.java
Labels: backend

점수 계산 및 포인트/티어 반영 로직까지 진행
  backend/src/main/java/com/shhtudy/backend/domain/noise/config/WebConfig.java
  backend/src/main/java/com/shhtudy/backend/domain/noise/config/WebSocketConfig.java
  backend/src/main/java/com/shhtudy/backend/domain/noise/controller/NoiseController.java
  backend/src/main/java/com/shhtudy/backend/domain/noise/controller/NoiseWebSocketController.java
  backend/src/main/java/com/shhtudy/backend/domain/noise/dto/NoiseEventRequestDto.java
  backend/src/main/java/com/shhtudy/backend/domain/noise/dto/NoiseMessage.java
  backend/src/main/java/com/shhtudy/backend/domain/noise/dto/NoiseScoreDto.java
  backend/src/main/java/com/shhtudy/backend/domain/noise/dto/NoiseSessionRequestDto.java
  backend/src/main/java/com/shhtudy/backend/domain/noise/entity/Noise.java
  backend/src/main/java/com/shhtudy/backend/domain/noise/entity/NoiseEvent.java
  backend/src/main/java/com/shhtudy/backend/domain/noise/entity/NoiseSession.java
  backend/src/main/java/com/shhtudy/backend/domain/noise/enums/NoiseStatus.java
  backend/src/main/java/com/shhtudy/backend/domain/noise/repository/NoiseEventRepository.java
  backend/src/main/java/com/shhtudy/backend/domain/noise/repository/NoiseRepository.java
  backend/src/main/java/com/shhtudy/backend/domain/noise/repository/NoiseSessionRepository.java
  backend/src/main/java/com/shhtudy/backend/domain/noise/service/NoiseService.java
Labels: backend

refactor: 공통 응답 형식 수정
  backend/src/main/java/com/shhtudy/backend/domain/message/controller/MessageController.java
  backend/src/main/java/com/shhtudy/backend/domain/notice/controller/NoticeController.java
  backend/src/main/java/com/shhtudy/backend/global/response/ResponseCustom.java
Labels: backend

refactor: 공통 응답 형식 수정
  backend/src/main/java/com/shhtudy/backend/domain/alert/controller/AlertController.java
  backend/src/main/java/com/shhtudy/backend/domain/auth/controller/AuthController.java
  backend/src/main/java/com/shhtudy/backend/domain/seat/controller/SeatController.java
  backend/src/main/java/com/shhtudy/backend/domain/user/controller/UserController.java
Labels: backend

점수 계산 및 포인트/티어 반영 로직까지 진행
  backend/src/main/java/com/shhtudy/backend/domain/noise/controller/NoiseController.java
  backend/src/main/java/com/shhtudy/backend/domain/noise/dto/NoiseEventDto.java
  backend/src/main/java/com/shhtudy/backend/domain/noise/dto/NoiseEventRequestDto.java
  backend/src/main/java/com/shhtudy/backend/domain/noise/dto/NoiseScoreDto.java
  backend/src/main/java/com/shhtudy/backend/domain/noise/entity/NoiseSession.java
  backend/src/main/java/com/shhtudy/backend/domain/noise/repository/NoiseEventRepository.java
  backend/src/main/java/com/shhtudy/backend/domain/noise/repository/NoiseSessionRepository.java
  backend/src/main/java/com/shhtudy/backend/domain/noise/service/NoiseService.java
Labels: backend

점수 계산 및 포인트/티어 반영 로직까지 진행
  backend/src/main/java/com/shhtudy/backend/domain/noise/controller/NoiseController.java
  backend/src/main/java/com/shhtudy/backend/domain/noise/dto/NoiseEventRequestDto.java
  backend/src/main/java/com/shhtudy/backend/domain/noise/dto/NoiseSessionRequestDto.java
  backend/src/main/java/com/shhtudy/backend/domain/noise/entity/NoiseEvent.java
  backend/src/main/java/com/shhtudy/backend/domain/noise/entity/NoiseSession.java
  backend/src/main/java/com/shhtudy/backend/domain/noise/repository/NoiseSessionRepository.java
  backend/src/main/java/com/shhtudy/backend/domain/noise/service/NoiseService.java
Labels: backend

?
  backend/src/main/java/com/shhtudy/backend/domain/usage/Usage.java
  backend/src/main/java/com/shhtudy/backend/domain/usage/UsageController.java
  backend/src/main/java/com/shhtudy/backend/domain/usage/UsageService.java
  backend/src/main/java/com/shhtudy/backend/domain/usage/UsageStatus.java
  backend/src/main/java/com/shhtudy/backend/domain/usage/dto/CheckInRequest.java
Labels: backend

feat: 체크인,체크아웃 구조 설계
  backend/src/main/java/com/shhtudy/backend/domain/usage/controller/UsageController.java
  backend/src/main/java/com/shhtudy/backend/domain/usage/entity/Usage.java
  backend/src/main/java/com/shhtudy/backend/domain/usage/enums/UsageStatus.java
  backend/src/main/java/com/shhtudy/backend/domain/usage/repository/UsageRepository.java
  backend/src/main/java/com/shhtudy/backend/domain/usage/service/UsageService.java
  backend/src/main/java/com/shhtudy/backend/global/exception/code/ErrorCode.java
Labels: backend

🔧 fix: checkOut에 usedMinutes 계산 추가 및 Firebase UID 처리 개선
  backend/src/main/java/com/shhtudy/backend/domain/usage/controller/UsageController.java
  backend/src/main/java/com/shhtudy/backend/domain/usage/entity/Usage.java
  backend/src/main/java/com/shhtudy/backend/domain/usage/service/UsageService.java
Labels: backend

점수 계산 및 포인트/티어 반영 로직까지 진행
  backend/src/main/java/com/shhtudy/backend/domain/noise/controller/NoiseController.java
  backend/src/main/java/com/shhtudy/backend/domain/noise/dto/MannerScoreResponseDto.java
  backend/src/main/java/com/shhtudy/backend/domain/noise/dto/NoiseEventSummaryDto.java
  backend/src/main/java/com/shhtudy/backend/domain/noise/dto/NoiseSessionRequestDto.java
  backend/src/main/java/com/shhtudy/backend/domain/noise/entity/NoiseEvent.java
  backend/src/main/java/com/shhtudy/backend/domain/noise/repository/NoiseEventRepository.java
  backend/src/main/java/com/shhtudy/backend/domain/noise/repository/NoiseSessionRepository.java
  backend/src/main/java/com/shhtudy/backend/domain/noise/service/NoiseService.java
Labels: backend

소음 레포트 조회 API 점수 계산 수정
  backend/src/main/java/com/shhtudy/backend/domain/noise/dto/NoiseSessionRequestDto.java
  backend/src/main/java/com/shhtudy/backend/domain/noise/service/NoiseService.java
Labels: backend

전체 소음 로그 조회 API
  backend/src/main/java/com/shhtudy/backend/domain/noise/controller/NoiseController.java
  backend/src/main/java/com/shhtudy/backend/domain/noise/dto/MannerScoreResponseDto.java
  backend/src/main/java/com/shhtudy/backend/domain/noise/dto/NoiseEventListDto.java
  backend/src/main/java/com/shhtudy/backend/domain/noise/dto/NoiseReportResponseDto.java
  backend/src/main/java/com/shhtudy/backend/domain/noise/dto/NoiseSessionRequestDto.java
  backend/src/main/java/com/shhtudy/backend/domain/noise/repository/NoiseEventRepository.java
  backend/src/main/java/com/shhtudy/backend/domain/noise/repository/NoiseSessionRepository.java
  backend/src/main/java/com/shhtudy/backend/domain/noise/service/NoiseService.java
Labels: backend

전체 소음 로그 조회 API
  backend/src/main/java/com/shhtudy/backend/domain/noise/controller/NoiseController.java
  backend/src/main/java/com/shhtudy/backend/domain/noise/dto/NoiseEventDto.java
  backend/src/main/java/com/shhtudy/backend/domain/noise/dto/NoiseEventListDto.java
  backend/src/main/java/com/shhtudy/backend/domain/noise/entity/NoiseEvent.java
  backend/src/main/java/com/shhtudy/backend/domain/noise/repository/NoiseEventRepository.java
  backend/src/main/java/com/shhtudy/backend/domain/noise/service/NoiseService.java
  frontend/shhtudy_app/pubspec.lock
Labels: frontend, backend

feat: 백엔드 연동 및 UI/UX 개선
  backend/src/main/java/com/shhtudy/backend/SeatInitializer.java
  backend/src/main/java/com/shhtudy/backend/domain/noise/entity/NoiseEvent.java
  backend/src/main/java/com/shhtudy/backend/domain/noise/service/NoiseService.java
  backend/src/main/java/com/shhtudy/backend/domain/notice/dto/NoticeListResponseDto.java
  backend/src/main/java/com/shhtudy/backend/domain/seat/service/SeatService.java
  frontend/shhtudy_app/lib/screens/auth/login_screen.dart
  frontend/shhtudy_app/lib/screens/auth/signup_screen.dart
  frontend/shhtudy_app/lib/screens/home/home_screen.dart
  frontend/shhtudy_app/lib/screens/mypage/message_screen.dart
  frontend/shhtudy_app/lib/screens/mypage/my_page_screen.dart
  frontend/shhtudy_app/lib/screens/mypage/notice_screen.dart
  frontend/shhtudy_app/lib/screens/report/noise_report_screen.dart
  frontend/shhtudy_app/lib/screens/seat/seat_screen.dart
  frontend/shhtudy_app/lib/services/alert_service.dart
  frontend/shhtudy_app/lib/services/message_service.dart
  frontend/shhtudy_app/lib/services/noise_service.dart
  frontend/shhtudy_app/lib/services/notice_service.dart
  frontend/shhtudy_app/lib/services/seat_service.dart
  frontend/shhtudy_app/lib/services/user_service.dart
Labels: frontend, backend

노이즈 리팩터링
  backend/src/main/java/com/shhtudy/backend/domain/noise/controller/NoiseController.java
  backend/src/main/java/com/shhtudy/backend/domain/noise/dto/NoiseEventRequestDto.java
  backend/src/main/java/com/shhtudy/backend/domain/noise/dto/NoiseSessionRequestDto.java
  backend/src/main/java/com/shhtudy/backend/domain/noise/entity/NoiseEvent.java
  backend/src/main/java/com/shhtudy/backend/domain/noise/entity/NoiseSession.java
  backend/src/main/java/com/shhtudy/backend/domain/noise/repository/NoiseEventRepository.java
  backend/src/main/java/com/shhtudy/backend/domain/noise/repository/NoiseSessionRepository.java
  backend/src/main/java/com/shhtudy/backend/domain/noise/service/NoiseService.java
  backend/src/main/java/com/shhtudy/backend/global/exception/code/ErrorCode.java
Labels: backend

체크인 체크아웃 일부 수정
  backend/src/main/java/com/shhtudy/backend/domain/usage/entity/Usage.java
  backend/src/main/java/com/shhtudy/backend/domain/usage/repository/UsageRepository.java
  backend/src/main/java/com/shhtudy/backend/domain/usage/scheduler/UsageSessionSplitScheduler.java
  backend/src/main/java/com/shhtudy/backend/domain/usage/service/UsageService.java
Labels: backend

Feat: 공지사항오류 수정정
  backend/src/main/java/com/shhtudy/backend/domain/notice/dto/MyPageNoticeDto.java
  backend/src/main/java/com/shhtudy/backend/domain/notice/dto/NoticeListResponseDto.java
  backend/src/main/resources/application.properties
  frontend/shhtudy_app/android/app/src/main/AndroidManifest.xml
  frontend/shhtudy_app/lib/screens/home/home_screen.dart
  frontend/shhtudy_app/lib/screens/mypage/my_page_screen.dart
  frontend/shhtudy_app/lib/services/notice_service.dart
  frontend/shhtudy_app/pubspec.lock
Labels: frontend, backend

wip: 배포 전 완전 백업용 커밋
  backend/.dockerignore
  backend/Dockerfile
  backend/build.gradle
  backend/docker-compose.yml
  backend/init.sql
  backend/src/main/java/com/shhtudy/backend/global/config/FirebaseConfig.java
  backend/src/main/java/com/shhtudy/backend/global/config/SecurityConfig.java
  backend/src/main/resources/application.properties
  backend/src/main/resources/application.yml
Labels: backend

프로퍼티 cors 설정 삭제(시큐리티 컨피그.java에 위치치
  backend/src/main/resources/application.properties
Labels: backend

쪽지 삭제 시 마이페이지 화면으로 나가지는 오류 해결결
  frontend/shhtudy_app/lib/screens/mypage/message_screen.dart
Labels: frontend

배포 성공
  backend/Dockerfile
  backend/init.sql
Labels: backend

포인트 별 등급 산출 오류 수정
  backend/src/main/java/com/shhtudy/backend/domain/noise/service/NoiseService.java
Labels: backend

진짜 제발요
  backend/Dockerfile
  backend/src/main/resources/application.yml
Labels: backend

파일 경로 수정
  backend/src/main/java/com/shhtudy/backend/global/config/SecurityConfig.java
Labels: backend

Merge branch 'dev' of https://github.com/whoneykkk/shhtudy into feat/frontend
  frontend/shhtudy_app/android/app/build.gradle.kts
  frontend/shhtudy_app/android/app/src/main/AndroidManifest.xml
  frontend/shhtudy_app/lib/config/api_config.dart
  frontend/shhtudy_app/lib/models/noise_log.dart
  frontend/shhtudy_app/lib/models/noise_session_request.dart
  frontend/shhtudy_app/lib/screens/auth/login_screen.dart
  frontend/shhtudy_app/lib/screens/home/home_screen.dart
  frontend/shhtudy_app/lib/screens/mypage/message_screen.dart
  frontend/shhtudy_app/lib/screens/mypage/my_page_screen.dart
  frontend/shhtudy_app/lib/screens/report/noise_log_screen.dart
  frontend/shhtudy_app/lib/screens/report/noise_report_screen.dart
  frontend/shhtudy_app/lib/services/noise_service.dart
  frontend/shhtudy_app/pubspec.lock
  frontend/shhtudy_app/pubspec.yaml
  frontend/shhtudy_app/windows/flutter/generated_plugin_registrant.cc
  frontend/shhtudy_app/windows/flutter/generated_plugins.cmake
Labels: frontend
